AUTH_SECRET="ec479bde4bffe2e645654a48a4a8faaf"
DATABASE_URL="postgresql://postgres:password@localhost:5432/Codelabs?schema=public"
# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51PS5BUBuXR8SlLlxt2E4fXYr1NZEBHZh0CNGQaaz2gTiBWVmfCiVlWkcRspZQLIW6M2g7R4AdnaUIjIBaPJy96E3002cL1w2TH
STRIPE_SECRET_KEY=sk_test_51PS5BUBuXR8SlLlxvi2XeAKN3J03AyodO0nbmuqnn4cr5i90NY5bAQjbXJa9QjKxa2gkUIhhs0LeMY5NEuFj8kKJ00McoGkM1F
