#lab-card #interactions {
    overflow: hidden;
    height: 0;
    transition: height 0.3s;
}

#lab-card:hover #interactions {
    height: 32px;
    transition: height 0.3s;
}

.card-style::before {
    content: '';
    position: absolute;
    background-color: #282c2b;
    opacity: 50%;
    height: 86%;
    width: 80%;
    top: 10%;
    left: 15%;
    border-radius: 0.75rem;
    z-index: 0;
    transition: all 0.3s;
}

.card-style:hover::before {
    height: 98%;
    width: 93%;
    top: 0%;
    left: 3%;
    transition: all 0.3s;
}
